In [2]:
import pandas as pd
import os

In [3]:
#list content in folder, if csv
files = [x for x in os.listdir('data') if x.endswith('.csv')]
for filename in files:
    print(filename)

AAPL-edited.csv
AAPL.csv
AMZN-edited.csv
AMZN.csv
BCHAIN-NEW.csv
BTC-USD.csv
EOD-DIS-edited.csv
EOD-DIS.csv
EOD-MMM-edited.csv
EOD-MMM.csv
EOD-MSFT-edited.csv
EOD-MSFT.csv
EOD-V-edited.csv
EOD-V.csv
FB-edited.csv
FB.csv
GOOG-edited.csv
GOOG.csv
NFLX-edited.csv
NFLX.csv
TSLA-edited.csv
TSLA.csv

In [4]:
df = pd.read_csv('data/BTC-USD.csv')
df.head()

         Date     Open     High      Low    Close  Adj Close  Volume
0  2010-07-16  0.04951  0.04951  0.04951  0.04951    0.04951       0
1  2010-07-17  0.04951  0.08585  0.05941  0.08584    0.08584       5
2  2010-07-18  0.08584  0.09307  0.07723  0.08080    0.08080      49
3  2010-07-19  0.08080  0.08181  0.07426  0.07474    0.07474      20
4  2010-07-20  0.07474  0.07921  0.06634  0.07921    0.07921      42

In [13]:
def count_drop(numbers):
    return len([x for x in numbers if x < 0])

def count_up(numbers):
    return len([x for x in numbers if x > 0])

# Date        Value USD   Value 2     Max 7       Min 7       Change     Mean Change 7      Drop 7  Up 7    Predict
#2010-08-02 	0.06000 	0.06500 	0.05900 	0.06000 	0.06000 	606 	0.06000 	0.06990 	0.0589 	0.00000 	0.000000 	2.0 	4.0 	NaN
#2010-09-05 	0.06160 	0.06270 	0.06160 	0.06160 	0.06160 	56 	0.06160 	0.06497 	0.0600 	0.00000 	0.000481 	3.0 	3.0 	NaN
#2010-12-23 	0.25000 	0.25000 	0.24100 	0.25000 	0.25000 	2160 	0.25000 	0.26700 	0.2400 	0.00000 	0.000000 	3.0 	3.0 	NaN
#2010-12-27 	0.26500 	0.27000 	0.25100 	0.26500 	0.26500 	1270 	0.26500 	0.26700 	0.2400 	0.00000 	0.000286 	3.0 	2.0 	NaN

def decider(row):
    if row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 and row['Change'] >= 0:
        return 1
    elif row['Drop 7'] > row['Up 7'] and row['Mean Change 7'] < 0 and row['Change'] >= 0:
        return 0
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 or row['Change'] >= 0:
        return -1
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] < 0 or row['Change'] < 0:
        return -2
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 and row['Change'] < 0:
        return -3
    elif row['Drop 7'] > row['Up 7'] and row['Mean Change 7'] < 0 and row['Change'] < 0:
        return -4

#df.rename(columns={'Value': 'Value USD'}, inplace=True)
df['Open 2'] = df['Open'].shift(-1)
df['Max 7'] = df['Open'].rolling(7).max()
df['Min 7'] = df['Open'].rolling(7).min()
df['Change'] = df['Open'] - df['Open 2']
df['Mean Change 7'] = df['Change'].rolling(7).mean()
df['Drop 7'] = df['Change'].rolling(7).apply(count_drop)
df['Up 7'] = df['Change'].rolling(7).apply(count_up)
df['Predict'] = df.apply(decider, axis=1)

In [5]:
def count_drop(numbers):
    return len([x for x in numbers if x < 0])

def count_up(numbers):
    return len([x for x in numbers if x > 0])

# Date        Value USD   Value 2     Max 7       Min 7       Change     Mean Change 7      Drop 7  Up 7    Predict
#2010-08-02 	0.06000 	0.06500 	0.05900 	0.06000 	0.06000 	606 	0.06000 	0.06990 	0.0589 	0.00000 	0.000000 	2.0 	4.0 	NaN
#2010-09-05 	0.06160 	0.06270 	0.06160 	0.06160 	0.06160 	56 	0.06160 	0.06497 	0.0600 	0.00000 	0.000481 	3.0 	3.0 	NaN
#2010-12-23 	0.25000 	0.25000 	0.24100 	0.25000 	0.25000 	2160 	0.25000 	0.26700 	0.2400 	0.00000 	0.000000 	3.0 	3.0 	NaN
#2010-12-27 	0.26500 	0.27000 	0.25100 	0.26500 	0.26500 	1270 	0.26500 	0.26700 	0.2400 	0.00000 	0.000286 	3.0 	2.0 	NaN

def decider(row):
    if row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 and row['Change'] >= 0:
        return 1
    elif row['Drop 7'] > row['Up 7'] and row['Mean Change 7'] < 0 and row['Change'] >= 0:
        return 0
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 or row['Change'] >= 0:
        return -1
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] < 0 or row['Change'] < 0:
        return -2
    elif row['Drop 7'] < row['Up 7'] and row['Mean Change 7'] > 0 and row['Change'] < 0:
        return -3
    elif row['Drop 7'] > row['Up 7'] and row['Mean Change 7'] < 0 and row['Change'] < 0:
        return -4

In [14]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,2010-07-16,0.04951,0.04951,0.04951,0.04951,0.04951,0,0.04951,NaN,NaN,0.00000,NaN,NaN,NaN,-1.0
1,2010-07-17,0.04951,0.08585,0.05941,0.08584,0.08584,5,0.08584,NaN,NaN,-0.03633,NaN,NaN,NaN,-2.0
2,2010-07-18,0.08584,0.09307,0.07723,0.08080,0.08080,49,0.08080,NaN,NaN,0.00504,NaN,NaN,NaN,-1.0
3,2010-07-19,0.08080,0.08181,0.07426,0.07474,0.07474,20,0.07474,NaN,NaN,0.00606,NaN,NaN,NaN,-1.0
4,2010-07-20,0.07474,0.07921,0.06634,0.07921,0.07921,42,0.07921,NaN,NaN,-0.00447,NaN,NaN,NaN,-2.0
5,2010-07-21,0.07921,0.08181,0.05050,0.05050,0.05050,129,0.05050,NaN,NaN,0.02871,NaN,NaN,NaN,-1.0
6,2010-07-22,0.05050,0.06767,0.05050,0.06262,0.06262,141,0.06262,0.08584,0.04951,-0.01212,-0.001873,3.0,3.0,-2.0
7,2010-07-23,0.06262,0.06161,0.05049,0.05454,0.05454,26,0.05454,0.08584,0.04951,0.00808,-0.000719,3.0,4.0,-1.0
8,2010-07-24,0.05454,0.05941,0.05050,0.05050,0.05050,85,0.05050,0.08584,0.05050,0.00404,0.005049,2.0,5.0,1.0
9,2010-07-25,0.05050,0.05600,0.05000,0.05600,0.05600,46,0.05600,0.08080,0.05050,-0.00550,0.003543,3.0,4.0,-1.0

In [9]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict
2955,2018-08-18,6405.740234,6560.879883,6330.560059,6502.180176,6502.180176,253984821,6502.240234,6591.180176,6199.629883,-96.500000,-25.690011,4.0,3.0,-2.0
2956,2018-08-19,6502.240234,6537.540039,6248.390137,6269.899902,6269.899902,397981291,6270.089844,6591.180176,6199.629883,232.150390,-0.984236,4.0,3.0,0.0
2957,2018-08-20,6270.089844,6506.689941,6259.810059,6491.109863,6491.109863,396746063,6491.089844,6591.180176,6199.629883,-221.000000,-41.637137,5.0,2.0,-2.0
2958,2018-08-21,6491.089844,6890.790039,6264.339844,6366.129883,6366.129883,764005011,6366.140137,6591.180176,6270.089844,124.949707,-13.131417,4.0,3.0,0.0
2959,2018-08-22,6366.140137,6575.279785,6356.959961,6538.950195,6538.950195,340811486,NaN,6591.180176,6270.089844,NaN,NaN,NaN,NaN,NaN

In [15]:
df[df.isnull().any(axis=1)].head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,2010-07-16,0.049510,0.049510,0.049510,0.049510,0.049510,0,0.04951,NaN,NaN,0.00000,NaN,NaN,NaN,-1.0
1,2010-07-17,0.049510,0.085850,0.059410,0.085840,0.085840,5,0.08584,NaN,NaN,-0.03633,NaN,NaN,NaN,-2.0
2,2010-07-18,0.085840,0.093070,0.077230,0.080800,0.080800,49,0.08080,NaN,NaN,0.00504,NaN,NaN,NaN,-1.0
3,2010-07-19,0.080800,0.081810,0.074260,0.074740,0.074740,20,0.07474,NaN,NaN,0.00606,NaN,NaN,NaN,-1.0
4,2010-07-20,0.074740,0.079210,0.066340,0.079210,0.079210,42,0.07921,NaN,NaN,-0.00447,NaN,NaN,NaN,-2.0
5,2010-07-21,0.079210,0.081810,0.050500,0.050500,0.050500,129,0.05050,NaN,NaN,0.02871,NaN,NaN,NaN,-1.0
2959,2018-08-22,6366.140137,6575.279785,6356.959961,6538.950195,6538.950195,340811486,NaN,6591.180176,6270.089844,NaN,NaN,NaN,NaN,NaN

In [16]:
df.dropna(subset=['Max 7', 'Min 7', 'Mean Change 7', 'Drop 7', 'Up 7'], inplace=True)

In [17]:
df[df.isnull().any(axis=1)].head(10)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, Open 2, Max 7, Min 7, Change, Mean Change 7, Drop 7, Up 7, Predict]
Index: []

In [18]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict
6,2010-07-22,0.05050,0.06767,0.05050,0.06262,0.06262,141,0.06262,0.08584,0.04951,-0.01212,-0.001873,3.0,3.0,-2.0
7,2010-07-23,0.06262,0.06161,0.05049,0.05454,0.05454,26,0.05454,0.08584,0.04951,0.00808,-0.000719,3.0,4.0,-1.0
8,2010-07-24,0.05454,0.05941,0.05050,0.05050,0.05050,85,0.05050,0.08584,0.05050,0.00404,0.005049,2.0,5.0,1.0
9,2010-07-25,0.05050,0.05600,0.05000,0.05600,0.05600,46,0.05600,0.08080,0.05050,-0.00550,0.003543,3.0,4.0,-1.0
10,2010-07-26,0.05600,0.06050,0.05300,0.06000,0.06000,196,0.06000,0.07921,0.05050,-0.00400,0.002106,4.0,3.0,-2.0

In [6]:
def prediction(value):
    if value > 0:
        return 1
    return 0

def actual_calc(row):
    if row['Open'] > row['Adj Close']:
        return 0
    return 1

In [20]:
df['Prediction'] = df['Predict'].apply(prediction)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction
6,2010-07-22,0.05050,0.06767,0.05050,0.06262,0.06262,141,0.06262,0.08584,0.04951,-0.01212,-0.001873,3.0,3.0,-2.0,0
7,2010-07-23,0.06262,0.06161,0.05049,0.05454,0.05454,26,0.05454,0.08584,0.04951,0.00808,-0.000719,3.0,4.0,-1.0,0
8,2010-07-24,0.05454,0.05941,0.05050,0.05050,0.05050,85,0.05050,0.08584,0.05050,0.00404,0.005049,2.0,5.0,1.0,1
9,2010-07-25,0.05050,0.05600,0.05000,0.05600,0.05600,46,0.05600,0.08080,0.05050,-0.00550,0.003543,3.0,4.0,-1.0,0
10,2010-07-26,0.05600,0.06050,0.05300,0.06000,0.06000,196,0.06000,0.07921,0.05050,-0.00400,0.002106,4.0,3.0,-2.0,0

In [22]:
df['Actual'] = df.apply(actual_calc, axis=1)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
6,2010-07-22,0.05050,0.06767,0.05050,0.06262,0.06262,141,0.06262,0.08584,0.04951,-0.01212,-0.001873,3.0,3.0,-2.0,0,1
7,2010-07-23,0.06262,0.06161,0.05049,0.05454,0.05454,26,0.05454,0.08584,0.04951,0.00808,-0.000719,3.0,4.0,-1.0,0,0
8,2010-07-24,0.05454,0.05941,0.05050,0.05050,0.05050,85,0.05050,0.08584,0.05050,0.00404,0.005049,2.0,5.0,1.0,1,0
9,2010-07-25,0.05050,0.05600,0.05000,0.05600,0.05600,46,0.05600,0.08080,0.05050,-0.00550,0.003543,3.0,4.0,-1.0,0,1
10,2010-07-26,0.05600,0.06050,0.05300,0.06000,0.06000,196,0.06000,0.07921,0.05050,-0.00400,0.002106,4.0,3.0,-2.0,0,1

In [23]:
df[df['Prediction'] != df['Actual']]

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
6,2010-07-22,0.050500,0.067670,0.050500,0.062620,0.062620,141,0.062620,0.085840,0.049510,-0.012120,-0.001873,3.0,3.0,-2.0,0,1
8,2010-07-24,0.054540,0.059410,0.050500,0.050500,0.050500,85,0.050500,0.085840,0.050500,0.004040,0.005049,2.0,5.0,1.0,1,0
9,2010-07-25,0.050500,0.056000,0.050000,0.056000,0.056000,46,0.056000,0.080800,0.050500,-0.005500,0.003543,3.0,4.0,-1.0,0,1
10,2010-07-26,0.056000,0.060500,0.053000,0.060000,0.060000,196,0.060000,0.079210,0.050500,-0.004000,0.002106,4.0,3.0,-2.0,0,1
11,2010-07-27,0.060000,0.062000,0.054000,0.058900,0.058900,255,0.058900,0.079210,0.050500,0.001100,0.002901,3.0,4.0,1.0,1,0
12,2010-07-28,0.058900,0.069900,0.057100,0.069900,0.069900,528,0.069900,0.062620,0.050500,-0.011000,-0.002771,4.0,3.0,-2.0,0,1
14,2010-07-30,0.062700,0.068890,0.056000,0.067850,0.067850,243,0.067850,0.069900,0.050500,-0.005150,-0.001901,4.0,3.0,-2.0,0,1
17,2010-08-02,0.060000,0.065000,0.059000,0.060000,0.060000,606,0.060000,0.069900,0.058900,0.000000,0.000000,2.0,4.0,-1.0,0,1
18,2010-08-03,0.060000,0.062310,0.057000,0.057000,0.057000,210,0.057000,0.069900,0.058900,0.003000,0.000271,2.0,4.0,1.0,1,0
19,2010-08-04,0.057000,0.061000,0.058000,0.061000,0.061000,303,0.061000,0.069900,0.057000,-0.004000,0.001271,2.0,4.0,-1.0,0,1
20,2010-08-05,0.061000,0.062400,0.060700,0.062300,0.062300,85,0.062300,0.067850,0.057000,-0.001300,0.000057,3.0,3.0,-2.0,0,1
21,2010-08-06,0.062300,0.062200,0.059000,0.059000,0.059000,157,0.059000,0.067850,0.057000,0.003300,0.001264,2.0,4.0,1.0,1,0
22,2010-08-07,0.059000,0.061000,0.059000,0.060900,0.060900,132,0.060900,0.062300,0.057000,-0.001900,0.000029,3.0,3.0,-2.0,0,1
23,2010-08-08,0.060900,0.073500,0.059300,0.071000,0.071000,886,0.071000,0.062300,0.057000,-0.010100,-0.001571,4.0,2.0,-2.0,0,1
26,2010-08-11,0.067000,0.070000,0.061410,0.070000,0.070000,134,0.070000,0.071000,0.059000,-0.003000,-0.001286,4.0,3.0,-2.0,0,1
28,2010-08-13,0.064500,0.069500,0.064500,0.067000,0.067000,295,0.067000,0.071000,0.059000,-0.002500,-0.001143,4.0,3.0,-2.0,0,1
30,2010-08-15,0.065290,0.067900,0.062000,0.065500,0.065500,696,0.065500,0.071000,0.064500,-0.000210,0.000786,3.0,4.0,-1.0,0,1
31,2010-08-16,0.065500,0.076900,0.062430,0.070000,0.070000,915,0.070000,0.070000,0.064500,-0.004500,0.000000,4.0,3.0,-2.0,0,1
33,2010-08-18,0.068000,0.067900,0.066700,0.066700,0.066700,50,0.066700,0.070000,0.064500,0.001300,0.000471,3.0,4.0,1.0,1,0
35,2010-08-20,0.065500,0.066900,0.064400,0.066400,0.066400,688,0.066400,0.070000,0.065290,-0.000900,0.000086,3.0,4.0,-1.0,0,1
37,2010-08-22,0.066000,0.066890,0.063000,0.064910,0.064910,281,0.064910,0.070000,0.065500,0.001090,0.000084,2.0,5.0,1.0,1,0
38,2010-08-23,0.064910,0.066500,0.064910,0.065000,0.065000,444,0.065000,0.070000,0.064910,-0.000090,0.000714,2.0,5.0,-1.0,0,1
39,2010-08-24,0.065000,0.066500,0.064100,0.064800,0.064800,278,0.064800,0.068000,0.064910,0.000200,0.000457,2.0,5.0,1.0,1,0
40,2010-08-25,0.064800,0.065800,0.064000,0.064000,0.064000,251,0.064000,0.066700,0.064800,0.000800,0.000386,2.0,5.0,1.0,1,0
41,2010-08-26,0.064000,0.065000,0.063000,0.065000,0.065000,583,0.065000,0.066400,0.064000,-0.001000,0.000071,3.0,4.0,-1.0,0,1
42,2010-08-27,0.065000,0.065000,0.064100,0.064100,0.064100,399,0.064100,0.066400,0.064000,0.000900,0.000329,2.0,5.0,1.0,1,0
43,2010-08-28,0.064100,0.064800,0.064000,0.064000,0.064000,204,0.064000,0.066000,0.064000,0.000100,0.000286,2.0,5.0,1.0,1,0
44,2010-08-29,0.064000,0.069000,0.032110,0.064970,0.064970,2135,0.064970,0.065000,0.064000,-0.000970,-0.000009,3.0,4.0,-2.0,0,1
45,2010-08-30,0.064970,0.064900,0.060000,0.060000,0.060000,933,0.060000,0.065000,0.064000,0.004970,0.000714,2.0,5.0,1.0,1,0
46,2010-08-31,0.060000,0.062900,0.059610,0.062900,0.062900,436,0.062900,0.065000,0.060000,-0.002900,0.000271,3.0,4.0,-1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2018-07-14,6268.319824,6401.500000,6245.750000,6364.259766,6364.259766,218543291,6364.259766,6707.459961,6229.609863,-95.939942,49.028599,3.0,4.0,-1.0,0,1
2921,2018-07-15,6364.259766,6761.839844,6349.830078,6740.549805,6740.549805,494264915,6740.540039,6668.839844,6229.609863,-376.280273,-10.242885,4.0,3.0,-2.0,0,1
2922,2018-07-16,6740.540039,7476.240234,6677.560059,7326.700195,7326.700195,799401451,7326.759766,6740.540039,6229.609863,-586.219727,-145.698521,5.0,2.0,-2.0,0,1
2923,2018-07-17,7326.759766,7590.649902,7253.709961,7383.390137,7383.390137,788460811,7383.390137,7326.759766,6229.609863,-56.630371,-141.290039,5.0,2.0,-2.0,0,1
2924,2018-07-18,7383.390137,7563.700195,7289.899902,7477.500000,7477.500000,522544440,7477.100098,7383.390137,6229.609863,-93.709961,-174.777135,6.0,1.0,-2.0,0,1
2926,2018-07-20,7333.930176,7453.069824,7220.370117,7405.399902,7405.399902,297440355,7405.399902,7477.100098,6268.319824,-71.469726,-162.440011,6.0,1.0,-2.0,0,1
2928,2018-07-22,7398.640137,7798.589844,7376.660156,7718.000000,7718.000000,745533303,7718.000000,7477.100098,6740.540039,-319.359863,-139.637137,5.0,2.0,-2.0,0,1
2929,2018-07-23,7718.000000,8485.709961,7692.160156,8395.820313,8395.820313,1166560702,8395.809570,7718.000000,7326.759766,-677.809570,-152.721401,5.0,2.0,-2.0,0,1
2932,2018-07-26,7937.100098,8278.009766,7806.250000,8182.890137,8182.890137,646256012,8182.879883,8395.809570,7333.930176,-245.779785,-121.278530,4.0,3.0,-2.0,0,1
2933,2018-07-27,8182.879883,8238.040039,8070.040039,8230.870117,8230.870117,295872316,8230.820313,8395.809570,7398.640137,-47.940430,-117.917202,4.0,3.0,-2.0,0,1
2936,2018-07-30,8176.080078,8176.270020,7663.700195,7735.299805,7735.299805,765186307,7736.250000,8395.809570,7937.100098,439.830078,94.222796,2.0,5.0,1.0,1,0
2937,2018-07-31,7736.250000,7760.740234,7449.310059,7610.899902,7610.899902,595402750,7610.899902,8230.820313,7736.250000,125.350098,79.924316,2.0,5.0,1.0,1,0
2938,2018-08-01,7610.899902,7713.319824,7470.859863,7542.339844,7542.339844,424093581,7542.339844,8230.820313,7610.899902,68.560058,56.394322,2.0,5.0,1.0,1,0
2939,2018-08-02,7542.339844,7542.490234,7296.759766,7417.600098,7417.600098,586982505,7417.600098,8230.820313,7542.339844,124.739746,109.325684,1.0,6.0,1.0,1,0
2940,2018-08-03,7417.600098,7490.890137,6940.149902,7017.890137,7017.890137,534002935,7017.890137,8230.820313,7417.600098,399.709961,173.275739,0.0,7.0,1.0,1,0
2941,2018-08-04,7017.890137,7092.529785,6898.310059,7042.390137,7042.390137,368914046,7042.569824,8216.700195,7017.890137,-24.679687,167.732910,1.0,6.0,-1.0,0,1
2942,2018-08-05,7042.569824,7160.399902,6854.790039,6945.779785,6945.779785,410408444,6945.770020,8176.080078,7017.890137,96.799804,175.758580,1.0,6.0,1.0,1,0
2943,2018-08-06,6945.770020,7150.859863,6685.020020,6723.209961,6723.209961,575690006,6723.290039,7736.250000,6945.770020,222.479981,144.708566,1.0,6.0,1.0,1,0
2944,2018-08-07,6723.290039,6723.990234,6133.029785,6285.020020,6285.020020,838853615,6285.060059,7610.899902,6723.290039,438.229980,189.405692,1.0,6.0,1.0,1,0
2945,2018-08-08,6285.060059,6631.229980,6195.020020,6543.240234,6543.240234,575748446,6543.250000,7542.339844,6285.060059,-258.189941,142.727121,2.0,5.0,-1.0,0,1
2946,2018-08-09,6543.250000,6582.140137,6025.910156,6153.410156,6153.410156,639457019,6152.950195,7417.600098,6285.060059,390.299805,180.664272,2.0,5.0,1.0,1,0
2947,2018-08-10,6152.950195,6184.459961,6014.259766,6091.140137,6091.140137,242399960,6091.140137,7042.569824,6152.950195,61.810058,132.392857,2.0,5.0,1.0,1,0
2948,2018-08-11,6091.140137,6091.140137,6091.140137,6091.140137,6091.140137,0,6322.410156,7042.569824,6091.140137,-231.270019,102.879953,2.0,5.0,-1.0,0,1
2949,2018-08-12,6322.410156,6545.020020,6157.029785,6263.200195,6263.200195,452431672,6263.200195,6945.770020,6091.140137,59.209961,97.509975,2.0,5.0,1.0,1,0
2950,2018-08-13,6263.200195,6266.500000,5891.870117,6199.600098,6199.600098,759847789,6199.629883,6723.290039,6091.140137,63.570312,74.808594,2.0,5.0,1.0,1,0
2951,2018-08-14,6199.629883,6620.069824,6193.629883,6274.220215,6274.220215,852103141,6274.220215,6543.250000,6091.140137,-74.590332,1.548549,3.0,4.0,-1.0,0,1
2952,2018-08-15,6274.220215,6478.069824,6217.330078,6323.810059,6323.810059,454679037,6323.810059,6543.250000,6091.140137,-49.589844,31.348563,3.0,4.0,-1.0,0,1
2953,2018-08-16,6323.810059,6594.720215,6300.450195,6591.160156,6591.160156,477089455,6591.180176,6323.810059,6091.140137,-267.370117,-62.604283,4.0,3.0,-2.0,0,1
2955,2018-08-18,6405.740234,6560.879883,6330.560059,6502.180176,6502.180176,253984821,6502.240234,6591.180176,6199.629883,-96.500000,-25.690011,4.0,3.0,-2.0,0,1
2957,2018-08-20,6270.089844,6506.689941,6259.810059,6491.109863,6491.109863,396746063,6491.089844,6591.180176,6199.629883,-221.000000,-41.637137,5.0,2.0,-2.0,0,1

In [24]:
df[df['Prediction'] != df['Actual']].shape

(2218, 17)

In [25]:
df.shape

(2953, 17)

In [26]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
6,2010-07-22,0.05050,0.06767,0.05050,0.06262,0.06262,141,0.06262,0.08584,0.04951,-0.01212,-0.001873,3.0,3.0,-2.0,0,1
7,2010-07-23,0.06262,0.06161,0.05049,0.05454,0.05454,26,0.05454,0.08584,0.04951,0.00808,-0.000719,3.0,4.0,-1.0,0,0
8,2010-07-24,0.05454,0.05941,0.05050,0.05050,0.05050,85,0.05050,0.08584,0.05050,0.00404,0.005049,2.0,5.0,1.0,1,0
9,2010-07-25,0.05050,0.05600,0.05000,0.05600,0.05600,46,0.05600,0.08080,0.05050,-0.00550,0.003543,3.0,4.0,-1.0,0,1
10,2010-07-26,0.05600,0.06050,0.05300,0.06000,0.06000,196,0.06000,0.07921,0.05050,-0.00400,0.002106,4.0,3.0,-2.0,0,1
11,2010-07-27,0.06000,0.06200,0.05400,0.05890,0.05890,255,0.05890,0.07921,0.05050,0.00110,0.002901,3.0,4.0,1.0,1,0
12,2010-07-28,0.05890,0.06990,0.05710,0.06990,0.06990,528,0.06990,0.06262,0.05050,-0.01100,-0.002771,4.0,3.0,-2.0,0,1
13,2010-07-29,0.06990,0.06980,0.05820,0.06270,0.06270,198,0.06270,0.06990,0.05050,0.00720,-0.000011,3.0,4.0,-1.0,0,0
14,2010-07-30,0.06270,0.06889,0.05600,0.06785,0.06785,243,0.06785,0.06990,0.05050,-0.00515,-0.001901,4.0,3.0,-2.0,0,1
15,2010-07-31,0.06785,0.06500,0.06000,0.06110,0.06110,162,0.06110,0.06990,0.05050,0.00675,-0.001514,4.0,3.0,0.0,0,0

In [27]:
df.to_csv('data/BTC-USD-edited.csv', index=False)

In [3]:
df2 = pd.read_csv('data/AAPL.csv')
df2.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.023186  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.021977   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.020364   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.020868   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.021473   18362400.0

In [7]:
df2['Open 2'] = df2['Open'].shift(-1)
df2['Max 7'] = df2['Open'].rolling(7).max()
df2['Min 7'] = df2['Open'].rolling(7).min()
df2['Change'] = df2['Open'] - df2['Open 2']
df2['Mean Change 7'] = df2['Change'].rolling(7).mean()
df2['Drop 7'] = df2['Change'].rolling(7).apply(count_drop)
df2['Up 7'] = df2['Change'].rolling(7).apply(count_up)
df2['Predict'] = df2.apply(decider, axis=1)
df2['Prediction'] = df2['Predict'].apply(prediction)
df2['Actual'] = df2.apply(actual_calc, axis=1)
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023186,117258400.0,0.488839,NaN,NaN,0.024554,NaN,NaN,NaN,-1.0,0,0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021977,43971200.0,0.453125,NaN,NaN,0.035714,NaN,NaN,NaN,-1.0,0,0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020364,26432000.0,0.462054,NaN,NaN,-0.008929,NaN,NaN,NaN,-2.0,0,0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020868,21610400.0,0.475446,NaN,NaN,-0.013392,NaN,NaN,NaN,-2.0,0,0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021473,18362400.0,0.504464,NaN,NaN,-0.029018,NaN,NaN,NaN,-2.0,0,0

In [8]:
df2.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023186,117258400.0,0.488839,NaN,NaN,0.024554,NaN,NaN,NaN,-1.0,0,0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021977,43971200.0,0.453125,NaN,NaN,0.035714,NaN,NaN,NaN,-1.0,0,0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020364,26432000.0,0.462054,NaN,NaN,-0.008929,NaN,NaN,NaN,-2.0,0,0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020868,21610400.0,0.475446,NaN,NaN,-0.013392,NaN,NaN,NaN,-2.0,0,0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021473,18362400.0,0.504464,NaN,NaN,-0.029018,NaN,NaN,NaN,-2.0,0,0
5,1980-12-19,0.504464,0.506696,0.504464,0.504464,0.022783,12157600.0,0.529018,NaN,NaN,-0.024554,NaN,NaN,NaN,-2.0,0,0
6,1980-12-22,0.529018,0.531250,0.529018,0.529018,0.023892,9340800.0,0.551339,0.529018,0.453125,-0.022321,-0.005421,5.0,2.0,-2.0,0,0
7,1980-12-23,0.551339,0.553571,0.551339,0.551339,0.024900,11737600.0,0.580357,0.551339,0.453125,-0.029018,-0.013074,6.0,1.0,-2.0,0,0
8,1980-12-24,0.580357,0.582589,0.580357,0.580357,0.026211,12000800.0,0.633929,0.580357,0.453125,-0.053572,-0.025829,7.0,0.0,-2.0,0,0
9,1980-12-26,0.633929,0.636161,0.633929,0.633929,0.028630,13893600.0,0.642857,0.633929,0.462054,-0.008928,-0.025829,7.0,0.0,-2.0,0,0

In [9]:
df2[df2['Prediction'] != df2['Actual']].shape

(2390, 17)

In [10]:
df2.shape

(9497, 17)

In [14]:
df2.to_csv('data/AAPL-edited2.csv', index=False)

In [12]:
df2.dropna(subset=['Max 7', 'Min 7', 'Mean Change 7', 'Drop 7', 'Up 7'], inplace=True)

In [13]:
df2[df2.isnull().any(axis=1)].head(10)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, Open 2, Max 7, Min 7, Change, Mean Change 7, Drop 7, Up 7, Predict, Prediction, Actual]
Index: []

In [15]:
df3 = pd.read_csv('data/AMZN.csv')
df3.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [16]:
df3['Open 2'] = df3['Open'].shift(-1)
df3['Max 7'] = df3['Open'].rolling(7).max()
df3['Min 7'] = df3['Open'].rolling(7).min()
df3['Change'] = df3['Open'] - df3['Open 2']
df3['Mean Change 7'] = df3['Change'].rolling(7).mean()
df3['Drop 7'] = df3['Change'].rolling(7).apply(count_drop)
df3['Up 7'] = df3['Change'].rolling(7).apply(count_up)
df3['Predict'] = df3.apply(decider, axis=1)
df3['Prediction'] = df3['Predict'].apply(prediction)
df3['Actual'] = df3.apply(actual_calc, axis=1)
df3.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Open 2,Max 7,Min 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Prediction,Actual
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000,1.968750,NaN,NaN,0.468750,NaN,NaN,NaN,-1.0,0,0
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,1.760417,NaN,NaN,0.208333,NaN,NaN,NaN,-1.0,0,0
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,1.729167,NaN,NaN,0.031250,NaN,NaN,NaN,-1.0,0,0
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,1.635417,NaN,NaN,0.093750,NaN,NaN,NaN,-1.0,0,0
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,1.437500,NaN,NaN,0.197917,NaN,NaN,NaN,-1.0,0,0
5,1997-05-22,1.437500,1.447917,1.312500,1.395833,1.395833,11776800,1.406250,NaN,NaN,0.031250,NaN,NaN,NaN,-1.0,0,0
6,1997-05-23,1.406250,1.520833,1.333333,1.500000,1.500000,15937200,1.510417,2.437500,1.40625,-0.104167,0.132440,1.0,6.0,-1.0,0,1
7,1997-05-27,1.510417,1.645833,1.458333,1.583333,1.583333,8697600,1.625000,1.968750,1.40625,-0.114583,0.049107,2.0,5.0,-1.0,0,1
8,1997-05-28,1.625000,1.635417,1.531250,1.531250,1.531250,4574400,1.541667,1.760417,1.40625,0.083333,0.031250,2.0,5.0,1.0,1,0
9,1997-05-29,1.541667,1.541667,1.479167,1.505208,1.505208,3472800,1.500000,1.729167,1.40625,0.041667,0.032738,2.0,5.0,1.0,1,0

In [17]:
df3[df3['Prediction'] != df3['Actual']].shape

(3655, 17)

In [18]:
df3.shape

(5345, 17)

In [19]:
df3.dropna(subset=['Max 7', 'Min 7', 'Mean Change 7', 'Drop 7', 'Up 7'], inplace=True)

In [20]:
df3[df3.isnull().any(axis=1)].head(10)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, Open 2, Max 7, Min 7, Change, Mean Change 7, Drop 7, Up 7, Predict, Prediction, Actual]
Index: []

In [21]:
df3.to_csv('data/AMZN-edited2.csv', index=False)