In [1]:
import os

import pandas as pd

import numpy as np

check_nan = [np.nan, np.inf, -np.inf]

In [2]:
old_csv = [x for x in os.listdir("data") if x.endswith('edited.csv')]
old_csv

['EOD-MSFT-edited.csv',
 'BTC-USD-edited.csv',
 'GOOG-edited.csv',
 'EOD-DIS-edited.csv',
 'EOD-MMM-edited.csv',
 'NFLX-edited.csv',
 'AMZN-edited.csv',
 'AAPL-edited.csv',
 'EOD-V-edited.csv',
 'TSLA-edited.csv',
 'FB-edited.csv']

In [3]:
len(old_csv)

11

In [4]:
old_csv_filenames = []

for filename in old_csv:
    print('data/%s'%filename)
    old_csv_filenames.append('data/%s'%filename)

data/EOD-MSFT-edited.csv
data/BTC-USD-edited.csv
data/GOOG-edited.csv
data/EOD-DIS-edited.csv
data/EOD-MMM-edited.csv
data/NFLX-edited.csv
data/AMZN-edited.csv
data/AAPL-edited.csv
data/EOD-V-edited.csv
data/TSLA-edited.csv
data/FB-edited.csv

In [5]:
df = pd.read_csv(old_csv_filenames[0])
df.head()

,Date,Value USD,Drop 7,Up 7,Min 7,Max 7,Mean 7,Mean Change 7,Change,Predict
0,08/01/2018,106.28,0.0,7.0,106.28,109.67,108.294286,0.512857,0.20,2.0
1,07/31/2018,106.08,0.0,7.0,106.08,109.49,107.781429,0.588571,0.71,2.0
2,07/30/2018,105.37,1.0,6.0,105.37,108.88,107.192857,0.171429,-2.31,-1.0
3,07/27/2018,107.68,2.0,5.0,105.37,108.13,107.021429,-0.212857,-1.94,-2.0
4,07/26/2018,109.62,3.0,4.0,105.37,109.62,107.234286,-0.398571,-1.21,-2.0

In [7]:
df.isnull().any()

Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

In [8]:
df2 = pd.read_csv(old_csv_filenames[1])
df2.head()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,2010-07-16,0.04951,NaN,NaN,NaN,-0.03633,NaN,NaN,NaN,-2.0
1,2010-07-17,0.08584,NaN,NaN,NaN,0.00504,NaN,NaN,NaN,-1.0
2,2010-07-18,0.08080,NaN,NaN,NaN,0.00606,NaN,NaN,NaN,-1.0
3,2010-07-19,0.07474,NaN,NaN,NaN,-0.00447,NaN,NaN,NaN,-2.0
4,2010-07-20,0.07921,NaN,NaN,NaN,0.02871,NaN,NaN,NaN,-1.0

In [10]:
df2.isnull().head()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,False,False,True,True,True,False,True,True,True,False
1,False,False,True,True,True,False,True,True,True,False
2,False,False,True,True,True,False,True,True,True,False
3,False,False,True,True,True,False,True,True,True,False
4,False,False,True,True,True,False,True,True,True,False

In [11]:
df2.isnull().any()

Date             False
Value USD        False
Max 7             True
Min 7             True
Mean 7            True
Change            True
Mean Change 7     True
Drop 7            True
Up 7              True
Predict           True
dtype: bool

In [12]:
df2.dropna(inplace=True)

In [13]:
df2.isnull().any()

Date             False
Value USD        False
Max 7            False
Min 7            False
Mean 7           False
Change           False
Mean Change 7    False
Drop 7           False
Up 7             False
Predict          False
dtype: bool

In [16]:
df2.to_csv('bad-idea.csv')

df_bad = pd.read_csv('bad-idea.csv')
df_bad.head()

,Unnamed: 0,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,6,2010-07-22,0.06262,0.08584,0.04951,0.069031,0.00808,-0.000719,3.0,4.0,-1.0
1,7,2010-07-23,0.05454,0.08584,0.05050,0.069750,0.00404,0.005049,2.0,5.0,2.0
2,8,2010-07-24,0.05050,0.08080,0.05050,0.064701,-0.00550,0.003543,3.0,4.0,-1.0
3,9,2010-07-25,0.05600,0.07921,0.05050,0.061159,-0.00400,0.002106,4.0,3.0,-2.0
4,10,2010-07-26,0.06000,0.07921,0.05050,0.059053,0.00110,0.002901,3.0,4.0,2.0

In [17]:
df2.head()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict
6,2010-07-22,0.06262,0.08584,0.04951,0.069031,0.00808,-0.000719,3.0,4.0,-1.0
7,2010-07-23,0.05454,0.08584,0.05050,0.069750,0.00404,0.005049,2.0,5.0,2.0
8,2010-07-24,0.05050,0.08080,0.05050,0.064701,-0.00550,0.003543,3.0,4.0,-1.0
9,2010-07-25,0.05600,0.07921,0.05050,0.061159,-0.00400,0.002106,4.0,3.0,-2.0
10,2010-07-26,0.06000,0.07921,0.05050,0.059053,0.00110,0.002901,3.0,4.0,2.0

In [18]:
df2.to_csv(old_csv_filenames[1], index=False)

In [19]:
df2 = pd.read_csv(old_csv_filenames[1])
df2.head()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict
0,2010-07-22,0.06262,0.08584,0.04951,0.069031,0.00808,-0.000719,3.0,4.0,-1.0
1,2010-07-23,0.05454,0.08584,0.05050,0.069750,0.00404,0.005049,2.0,5.0,2.0
2,2010-07-24,0.05050,0.08080,0.05050,0.064701,-0.00550,0.003543,3.0,4.0,-1.0
3,2010-07-25,0.05600,0.07921,0.05050,0.061159,-0.00400,0.002106,4.0,3.0,-2.0
4,2010-07-26,0.06000,0.07921,0.05050,0.059053,0.00110,0.002901,3.0,4.0,2.0

In [21]:
for filename in old_csv_filenames:
    df = pd.read_csv(filename)
    
    df.dropna(inplace=True)
    df.to_csv(filename, index=False)

In [22]:
for filename in old_csv_filenames:
    df = pd.read_csv(filename)
    
    print(filename)
    print(df.isnull().any())
    print('\n---------------------\n\n')

data/EOD-MSFT-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/BTC-USD-edited.csv
Date             False
Value USD        False
Max 7            False
Min 7            False
Mean 7           False
Change           False
Mean Change 7    False
Drop 7           False
Up 7             False
Predict          False
dtype: bool

---------------------


data/GOOG-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/EOD-DIS-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/EOD-MMM-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/NFLX-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/AMZN-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/AAPL-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/EOD-V-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/TSLA-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------


data/FB-edited.csv
Date             False
Value USD        False
Drop 7           False
Up 7             False
Min 7            False
Max 7            False
Mean 7           False
Mean Change 7    False
Change           False
Predict          False
dtype: bool

---------------------